/*
	
	Pager

*/

/*---- Core styles ----*/
.pg-viewport {
	position: relative;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}

.pg-page {
	position: absolute;
	top: 0;
	z-index: -1;
	height: 100vh;
	overflow: hidden;

	/* Vertical center */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pg-is-active {
	position: relative;
	z-index: 1;
	height: auto;
	min-height: 100vh;
}